@tailwind base;
@tailwind components;
@tailwind utilities;

.books-overview-wrapper{
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto auto auto;
    gap: 10px 10px
}

.grid-item{
    margin-left: 5%;
}