<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="bg-gray-100">
    <%- include('partials/navbar') %>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-10">
      <h1 class="text-4xl font-bold mb-6">
        Auctions Completed
      </h1>
    </div>
  </body>
</html>
