<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div
      class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative w-1/3"
      role="alert"
    >
      <strong class="font-bold">Error!</strong>
      <span class="block sm:inline"
        >There was a problem with adding resource.</span
      >
      <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
        <svg
          class="fill-current h-6 w-6 text-red-500 close-btn"
          role="button"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <title>Close</title>
          <path
            d="M14.348 14.849a1 1 0 0 1-1.414 0L10 11.414l-2.93 2.93a1 1 0 1 1-1.415-1.415l2.93-2.93-2.93-2.93a1 1 0 1 1 1.415-1.415l2.93 2.93 2.93-2.93a1 1 0 0 1 1.414 1.415l-2.93 2.93 2.93 2.93a1 1 0 0 1 0 1.415z"
          />
        </svg>
      </span>
    </div>
  </body>
</html>
